<% include ../partials/header.ejs %>

   <section class="page" id="midSection2">
    <div class='Welcome'>
      <h1>Let's see..</h1>
    </div>
        <div class="card">
           <img id="img-preview" />
           <label class="file-upload-container" for="file-upload">
           <input id="file-upload" type="file" style="display:none;">
           <h3>Select an Image</h3>
            </label>
         </div>
  <div class="addWrapper">
<form method='POST' action='/emotions'>

        <input class="addInput" id="addHappiness" name='happiness' type='num' value='<%=  %>'/>
        <input class="addInput" id="addSadness" name='sadness' type='num' value='<%=  %>'/>
        <input class="addInput" id="addAnger" name='anger' type='num' value='<%=  %>'/>
        <input class="addInput" id="addFear" name='fear' type='num' value='<%= %>' />
        <input class="addInput" id="editDesc" name='comments' type='text' placeholder='thoughts' value='<%= %>' />

        <label for="user_name_id"> Name
            <select name="user_name_id" type='text'>
              <option value='1'>Mischelle</option>
              <option value='2'>Andy</option>
              <option value='3'>Devin</option>
              <option value='4'>Aileen</option>
              <option value='5'>Chris</option>
              <option value='6'>Sarah</option>
              <option value='7'>Jason</option>
            </select>
          </label></br>
        <input id="addSubmit" type='submit' value='Add the record' />
</form>





<% include ../partials/footer.ejs %>

