<% include ../partials/header.ejs %>

<section class="page" id="midSection2">


 <div id="todoList">
    <div id="addTodo">
      <a href="/emotions/add">How are you doing today?</a>
    </div>
 <% for (let emotion of data) { %>
    <div class='todo'>
      <div class="inline">
        <div id="title">
            <h4><%= emotion.date_created %></h4>
        </div>
        <div id="status">
            <h4><%= emotion.happiness %></h4>
        </div>
        <div class="inline">
          <div id="category">
            <h3><%= emotion.sadness %></h3>
        </div>
        <div class="inline">
          <div id="category">
            <h3><%= emotion.anger %></h3>
          </div>
        <div class="inline">
          <div id="category">
            <h3><%= emotion.fear %></h3>
        </div>
        <div class="inline">
          <div id="category">
            <h3><%= emotion.comments %></h3>
        </div>
        </div>
          <div id="clicks">
            <form action="/emotions/<%= emotion.id %>?">
              <input id="inEmotions" type="Submit" value="Info"/>
            </form>
            <form method="Put" action="/emotions/<%= emotion.id %>/edit">
              <input id="inEmotions" type="Submit" value="Edit"/>
            </form>
            <form action="/emotions/<%= emotion.id %>?_method=Delete " method="Post">
              <input id="inEmotions" type="Submit" value="Delete"/>
            </form>
          </div>
      </div>
    </div>
   </div>

  <% } %>


<svg width="600" height="210"></svg>
<script src="//d3js.org/d3.v4.min.js"></script>
<script src='/src/d3.js'></script>

<% include ../partials/footer.ejs %>
