<% include ../partials/header.ejs %>

   <section class="page" id="midSection2">

      <h1 id="addTitle">Add your picture</h1>

  <div class="addWrapper">
  <div class="card">
           <img id="img-preview" />
           <label class="file-upload-container" for="file-upload">
           <input id="file-upload" type="file" style="display:none;">
           <h3>Select an Image</h3>
            </label>
         </div>
<form id="formAddScore" method='POST' action='/emotions'>
          <div class="addInput">
          <div class="scoreName">
          <h4 class='scoreWord'>Happiness</h4>
          </div>
        <input class="score" id="addHappiness" name='happiness' type='num' value='<%=  %>'/>
           </div>
          <div class="addInput">
          <div class="scoreName">
          <h4 class='scoreWord'>Sadness</h4>
          </div>
        <input class="score" id="addSadness" name='sadness' type='num' value='<%=  %>'/>
          </div>
          <div class="addInput">
          <div class="scoreName">
          <h4 class='scoreWord'>Anger</h4>
          </div>
        <input class="score" id="addAnger" name='anger' type='num' value='<%=  %>'/>
           </div>
          <div class="addInput">
          <div class="scoreName">
          <h4 class='scoreWord'>Fear</h4>
          </div>
        <input class="score" id="addFear" name='fear' type='num' value='<%= %>' />
           </div>
        <input class="addInput" id="addThoughts" name='comments' type='text' placeholder='thoughts' value='<%= %>' />
        <label id="addUser" for="user_name_id"> Name
            <select name="user_name_id" type='text' id="selectUser">
              <option value='1'>Mischelle</option>
              <option value='2'>Andy</option>
              <option value='3'>Devin</option>
              <option value='4'>Aileen</option>
              <option value='5'>Chris</option>
              <option value='6'>Sarah</option>
              <option value='7'>Jason</option>
            </select>
          </label></br>
        <input id="addSubmit" type='submit' value='Add the record' />
</form>
</div>






<% include ../partials/footer.ejs %>

