<% include ../partials/header.ejs %>

   <section class="page" id="midSection2">
    <div class='Welcome'>
      <h1>Let's see..</h1>
    </div>
        <div class="card">
           <img id="img-preview" />
           <label class="file-upload-container" for="file-upload">
           <input id="file-upload" type="file" style="display:none;">
           <h3>Select an Image</h3>
            </label>
         </div>
  <div class="addWrapper">
<form method='POST' action='/emotions'>
        <div></div>
        <input class="addInput" id="addHappiness" name='happiness' type='num' value='<%=  %>'/>
        <input class="addInput" id="addSadness" name='sadness' type='num' value='<%=  %>'/>
        <input class="addInput" id="addAnger" name='anger' type='num' value='<%=  %>'/>
        <input class="addInput" id="addFear" name='fear' type='num' value='<%= %>' />
        <input class="addInput" id="editDesc" name='comments' type='text' value='<%= 'comments' %>' />
        <input id="addSubmit" type='submit' value='Add the record' />
  <div id="desc">
</form>
</div>

    </section>


<% include ../partials/footer.ejs %>

